{% extends 'base.html' %}

{% block content %}

    <h2>Delete Schedule</h2>
    <form action="" method='post'>{% csrf_token %}
        <p>Are you sure you want to delete "{{ post.schedule }}" ?</p>
        <input type = "submit" class="btn btn-danger" value ="confirm" />
    <a class="btn btn-success" href="{% url 'home' %}" role="button">Cancel</a>
</form>
{% endblock content %}
