{% extends 'base.html' %}

{% block content %}

    <h2>Edit Schedule</h2>
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary ml-2" value="update" />

    </form>

{% endblock content %}