{% extends 'base.html' %}

{% block content %}

<div class = "post entry">
    <h2>{{ post.schedule }}</h2><br>
</div>
<a class="btn btn-success" href="{% url 'post_edit' post.pk %}" role="button">Edit Schedule</a>
<a class="btn btn-danger" href="{% url 'post_delete' post.pk %}" role="button">Delete Schedule</a>
<a class="btn btn-primary" href="{% url 'home' %}" role="button">Done</a>
<br><br>

{% endblock content %}
